<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/register.js}" defer></script>
</head>
<body>
<div class="login-container">
    <form id="registerForm">
        <label for="memberId">회원 ID:</label>
        <input type="text" id="memberId" name="memberId" maxlength="15" required>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" pattern="(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*]).{1,20}" title="비밀번호는 영문, 숫자, 특수문자를 포함해 최대 20자까지 입력해주세요." required>

        <label for="nickName">닉네임:</label>
        <input type="text" id="nickName" name="nickName" maxlength="15" required>

        <label for="name">이름:</label>
        <input type="text" id="name" name="name" maxlength="10" required>

        <label for="phoneNumber">전화번호:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" pattern="\d{3}\d{4}\d{4}" title="전화번호는 010xxxxxxxx 형식으로 입력해주세요." maxlength="11" required>

        <label for="mailAddress">메일 주소:</label>
        <input type="email" id="mailAddress" name="mailAddress" list="email-domains" required>
        <datalist id="email-domains">
            <option value="@gmail.com">
            <option value="@naver.com">
        </datalist>

        <button type="button" onclick="submitForm()">회원가입</button>
    </form>
</div>
</body>
</html>
